.red {
    color: red;
}

input.red-border,
textarea.red-border {
    border: 1px solid red;
}

.dn-main {
    width: 100%;
}

.dn-main .dn-header {
    text-align: center;
}

.dn-main .dn-header img {
    width: 100%;
    max-width: 900px;
}

.bg-gray {
    background: #f3f3f3;
}

.dn-content {
    width: 100%;
}

.dn-main .bg-gray {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px
}

.title {
    margin: auto;
    max-width: 900px;
    background-color: #588c3f;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
}

.title p {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.form {
    max-width: 900px;
    background: white;
    padding: 20px 0 0;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    margin: auto;
}

.form dl {
    width: 90%;
    position: relative;
    margin-bottom: 18px;
    vertical-align: top;
    margin-left: 15%;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form dt {
    width: 145px;
    display: inline-block;
    padding-right: 5px;
    font-size: 16px;
    vertical-align: top;
}

.form dd {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.form input,
.form textarea {
    width: 70%;
}

input {
    border: 1px solid #e0e0e0;
    padding: 6px 8px;
    font-size: 14px;
    color: #222222;
    background: white;
    background-clip: padding-box;
    border-radius: 4px;
}

textarea {
    border: 1px solid #e0e0e0;
    padding: 8px 8px;
    font-size: 14px;
    line-height: 1.5;
    background: white;
    resize: vertical;
    background-clip: padding-box;
    border-radius: 4px;
}

.site-content-wrapper .member-pay .pay-tip-2 {
    font-size: 14px;
    line-height: 1.5;
    color: #888888;
    margin-top: 5px;
    position: relative;
}

.form dd p {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #888888;
    margin-top: 5px;
    position: relative;
    display: block;
}

.btn-block {
    margin-top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
}

.btn {
    height: 40px;
    line-height: 36px;
    padding: 0 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    background: #444;
    display: inline-block;
    cursor: pointer;
    background-clip: padding-box;
    border-radius: 4px;
    transition: 0.3s;
}
