.red {
    color: red;
}

.main {
    width: 100%;
}

.main .header {
    text-align: center;
    width: 100%;
    position: relative;
    background: #f3f3f3;
    padding: 10px 0;
}

.main .header img {
    width: 100%;
    max-width: 900px;
}

.content {
    width: 70%;
    margin: auto;
}

.provider {
    text-align: right;
    padding: 0 0 0 15px;
    margin-bottom: 25px;
    color: #888;
}

.content-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #222222;
}

.o-info-1 {
    color: #444444;
    margin-bottom: 25px;
}

.order-table {
    display: table;
    width: 100%;
}

dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.order-table dl {
    display: table-row;
}

.o-info-1 dt {
    width: 25%;
    background: #f5f5f5;
    padding-left: 15px;
}

.o-info-1 dt,
.o-info-1 dd {
    border-top: 1px solid #e0e0e0;
    padding: 7px 25px;
}

.order-table dt,
.order-table dd {
    display: table-cell;
    padding: 7px 10px;
    font-size: 15px;
    line-height: 1.4;
    vertical-align: middle;
}

.o-info-1 dl:last-child dt,
.o-info-1 dl:last-child dd {
    border-bottom: 1px solid #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
}

.currency-type {
    width: 100%;
    text-align: right;
    margin-bottom: 8px;
    font-size: 14px;
    color: #444;
}

.ot-title {
    background: #f5f5f5;
}

.ot-total .o-other-name {
    width: 82%;
    text-align: right;
}

.o-info-2 .ot-title dd {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.o-info-2 .o-pd-name {
    width: 82%;
    padding-left: 15px;
}

.o-info-2 dd {
    border-bottom: 1px solid #e0e0e0;
}

.o-info-2 .o-pd-total,
.ot-total .o-other-total {
    width: 18%;
    padding-left: 5px;
    padding-right: 15px;
    text-align: right;
}

.ot-total .o-sum dd {
    padding: 8px 10px 0;
    border-top: 2px solid #666;
    font-size: 16px;
}

.ot-total .o-other-name {
    width: 82%;
    text-align: right;
}

.ot-total dd {
    border-bottom: none;
    padding: 8px 10px;
}
